form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-width: 550px;
  margin: 5% auto;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
}

div {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="datetime-local"],
select {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
}

button[type="submit"] {
  background-color: #3f51b5;
  border: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 100%;
}

button[type="submit"]:hover {
  background-color: #1a237e;
}

